USE [Dajau]
GO
/****** Object:  Table [dbo].[Sys_Country]    Script Date: 06/13/2014 11:35:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sys_Country]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Sys_Country](
	[ID] [dbo].[长整形(bigint)] NOT NULL,
	[CountryName] [dbo].[字符串(64)] NULL,
	[EnCountryName] [dbo].[字符串(64)] NULL,
	[CountryPath] [dbo].[字符串(64)] NULL,
	[OrderIndex] [dbo].[长整形(bigint)] NULL,
	[CreateTime] [dbo].[日期类型(2011-11-11 12:32:12)] NULL,
	[ModifiedTime] [dbo].[日期类型(2011-11-11 12:32:12)] NULL,
	[Deleted] [dbo].[枚举类型(tinyint)] NULL,
 CONSTRAINT [PK_SYS_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Sys_Country', N'COLUMN',N'CountryName'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Country', @level2type=N'COLUMN',@level2name=N'CountryName'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Sys_Country', N'COLUMN',N'CountryPath'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'字典路径：以1001开始' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Country', @level2type=N'COLUMN',@level2name=N'CountryPath'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Sys_Country', N'COLUMN',N'OrderIndex'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'OrderIndex 排序编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Country', @level2type=N'COLUMN',@level2name=N'OrderIndex'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Sys_Country', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'国家' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Country'
GO
INSERT [dbo].[Sys_Country] ([ID], [CountryName], [EnCountryName], [CountryPath], [OrderIndex], [CreateTime], [ModifiedTime], [Deleted]) VALUES (1, N'亚洲', N'Asia ', N'1001', 0, CAST(0xA34804BF AS SmallDateTime), CAST(0xA34804C2 AS SmallDateTime), 0)
INSERT [dbo].[Sys_Country] ([ID], [CountryName], [EnCountryName], [CountryPath], [OrderIndex], [CreateTime], [ModifiedTime], [Deleted]) VALUES (2, N'欧洲', N'Europe', N'1002', 0, CAST(0xA34804C0 AS SmallDateTime), CAST(0xA34804C3 AS SmallDateTime), 0)
INSERT [dbo].[Sys_Country] ([ID], [CountryName], [EnCountryName], [CountryPath], [OrderIndex], [CreateTime], [ModifiedTime], [Deleted]) VALUES (3, N'非洲', N'Africa', N'1003', 0, CAST(0xA34804C0 AS SmallDateTime), CAST(0xA34804C3 AS SmallDateTime), 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
